@{
    ViewBag.Title = "Index";
}

<h2>Manage User Roles</h2>
<hr />

<div style="background-color:yellow; color: maroon; text-decoration: solid; font-size: 24px; font-weight: 400;">
    @Html.ViewBag.UserSelectError
    @Html.ViewBag.RoleSelectError
</div>

<h3>Role Add to User</h3>

@using (Html.BeginForm("AddUserToRole", "ManageRoles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
    <p>
        Username : @Html.TextBox("UserName")
        @*Username: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.UserNames, "Select ...")*@
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Save" />
}
<hr />
<h3>Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "ManageRoles"))
{
    @Html.AntiForgeryToken()
    <p>
        Username : @Html.TextBox("UserName")
    </p>

    <input type="submit" value="Get Roles for this User" />
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleForUser", "ManageRoles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Delete this user from Role" />
}