@{
    ViewBag.Title = "Index";
}

<h2>Manage User Roles</h2>
<p>
    <em>Note: When adding a user to the admin role, they cannot be removed - only deleted from the role to prevent being locked from the system.</em>
</p>
<hr />

@if (!string.IsNullOrEmpty(ViewBag.ResultMessage))
{
    <div class="result result-background result-success">
        @ViewBag.ResultMessage
    </div>

    <br />
}

@if (!string.IsNullOrEmpty(ViewBag.ResultMessageError))
{
    <div class="result result-background result-error">
        @ViewBag.ResultMessageError
    </div>

    <br />
}


@using (Html.BeginForm("Index", "ManageRoles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        @*Username: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.UserNames, "Select ...")*@
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    //<input type="submit" value="Add" />

    <input type="submit" name="command" value="Get Users List" />
    <input type="submit" name="command" value="Add User To Role" />
    <input type="submit" name="command" value="Get User Role" />
    <input type="submit" name="command" value="Remove User from Role" />
    <input type="submit" name="command" value="Delete User" style="color:red; margin-left: 100px;" onclick="return confirm('Are you sure you want to delete this user? This action is IRREVERSIBLE!');"/>
}

    @if (ViewBag.UserRole != null)
    {
        <div class="result-background result-normal">
            <h3>Roles for this user </h3>
            <ul>
                <li>@ViewBag.UserRole</li>
            </ul>
        </div>
    }

@if (ViewBag.UserList != null)
{
    <div class="result-background result-normal">
        <h3>List of Users (User - Role)</h3>
        @foreach (var user in ViewBag.UserList)
        {
            <ul>
                <li>@user.Item1 - @user.Item2</li>
            </ul>
        }

    </div>
}
