@model Genome.Models.GenomeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GenomeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MasurcaKMerValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasurcaKMerValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasurcaThreadNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasurcaThreadNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasurcaJellyfishHashSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasurcaJellyfishHashSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasurcaLinkingMates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasurcaLinkingMates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasurcaLimitJumpCoverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasurcaLimitJumpCoverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasurcaSoapAssembly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasurcaSoapAssembly)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.uuid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
